**/obj/**
**/bin/**
ApiVisualiser/obj/Debug/net9.0/ApiVisualiser.AssemblyInfo.cs
ApiVisualiser/obj/Debug/net9.0/ApiVisualiser.AssemblyInfoInputs.cache
ApiVisualiser/obj/Debug/net9.0/ApiVisualiser.csproj.FileListAbsolute.txt
ApiVisualiser/obj/Debug/net9.0/ApiVisualiser.sourcelink.json
**/node_modules/**
