<h1>Postcode Address Finder</h1>
 
<input [(ngModel)]="postcode" class="ds_input  ds_input--fixed-10"  placeholder="Enter postcode" />
<button class="ds_button" (click)="search()">Search</button>
<!-- <button class="ds_button" type="button">Search</button> -->
<!-- 
  <ul class="ds_skip-links__list">
    <li *ngFor="let address of addresses" class="ds_skip-links__item">{{ address }}</li>
  </ul> -->

  <div class="ds_accordion" data-module="ds-accordion">
    <button type="button" class="ds_link  ds_accordion__open-all  js-open-all">Open all <span class="visually-hidden">sections</span></button>
    <div *ngFor="let address of addresses; let i = index" class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" [id]="'panel-' + i" [attr.aria-labelledby]="'panel-' + i + '-heading'">
        <div class="ds_accordion-item__header">
            <h2 [id]="'panel-' + i + '-heading'" class="ds_accordion-item__title">
              {{ address }}
            </h2>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" [for]="'panel-' + i"><span class="visually-hidden">Show this section</span></label>
        </div>
        <div class="ds_accordion-item__body">
            <p>{{ localauthorities[i] }}</p>
            <p>{{ uprns[i] }}</p>
        </div>
    </div>

