<nav class="ds_site-navigation">
    <ul class="ds_site-navigation__list">
        <li class="ds_site-navigation__item">
            <NavLink class="ds_site-navigation__link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="ds_site-navigation__item">
            <NavLink class="ds_site-navigation__link" href="address-lookup">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Address Lookup
            </NavLink>
        </li>
    </ul>
</nav>
